openai==0.27.8
flask[async]==2.3.2
python-dotenv==1.0.0
langchain==0.0.178
pypdf==3.9.0
faiss-cpu==1.7.4
tiktoken==0.4.0
asyncio==3.4.3
futures==3.0.5
werkzeug==2.3.4
pinecone-client==2.2.1
tree-of-thoughts==0.3.4
torch==2.0.1
authlib==1.2.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.88.0
flask_login==0.6.2
httplib2==0.22.0
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
gunicorn