@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
#map {
    width: 100%;
    height: 500px;
  }
  .cursor-not-allowed { cursor: not-allowed; }
  .blinking {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes blink {
    0%, 49% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }